<section>
  <div class="container add-poc">
    <div class="row">
      <div class="col">
        <h1 class="title">Intel Functional Safety Tool Qualification Dashboard</h1>
        <mat-divider></mat-divider>
        <div class="">
        <img  src="assets/images/headerbanner.png" style="width: 100%">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-accordion class="example-headers-align">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                General dashboard information
              </mat-panel-title>
              <mat-panel-description>
                Qualification general info
                <mat-icon>info</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>The intent of this DASHBOARD is to provide “at-a-glance” views representing the Intel Functional Safety(FuSa) Tool Portfolio. With near real-time status monitoring, “Drill-In” tool features with links to ISO26262 and IEC61508 compliance content, industry certifications, points of contact, training, use cases, qualification history and future road map planning. This Dashboard will serve as the centralized communication and content portal to increase awareness and knowledge.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Qualification Team
              </mat-panel-title>
              <mat-panel-description>
                Team tracking Functional safety qualification
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>


            <ul>
              <li>Manager: Kevin Conz</li>
              <li>Developer: Esteban Gonzalez</li>
              <li>Qualification engineer: Sridhar Kotikalapudi</li>
              <li>Qualification engineer: Roy Dibyandu </li>
            </ul>


          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                FuSa Qualification
              </mat-panel-title>
              <mat-panel-description>
                Tool qualification process
                <mat-icon>check_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>An initial and on-going Tool Qualification Solution is required for all tool and process that have been Classified as TCL2 or higher under the ASIL and ISO26262 functional safety standards.  This is most commonly delivered through a Tool Qualification Kit(TQK).  Once the Tools & Processes have been graded, any TCL2 Tools are then added to the PESIT/PEP APT Team Backlog to acquire, manage, deliver and capture evidence collateral for the Tool Qualification Solution. </p>

            <img  src="assets/images/qualflow.png" style="width: 50%; height: 50%">
            <img  src="assets/images/pesitqualflow.PNG" style="width: 50%; height: 50%">


          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                FuSa Certification
              </mat-panel-title>
              <mat-panel-description>
               Tool certification process
                <mat-icon>verified_user</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>Industry Certifications of “TOOLS”  are done by an independent industry recognized rating/grading agency like TUV-SUD.  This is typical done by the VENDOR to further establish their products in the market place.  For all COTS tools this is mainly the case, except with tools like Atlassian/JIRA where the vendor has no plans to Certify their products thru 2019.  For Intel developed tools like HSD-ES and SPEED, Intel would need to pursue and pay for the TUV SUD Certifications.</p>



          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>







  </div>
</section>
