<div class="row">
  <div class="col">
  <h5 style="text-align: center; color:gray">Tool Qualification Evidence History</h5>

      <h4 style="margin-top:20px;">{{ softwareTool.name }}</h4>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>

            <mat-expansion-panel-header class="row" style="border: 1px solid rgb(213, 220, 226);"
                                        *ngFor="let version of softwareTool.versions">
              <mat-panel-title>{{ version.currentVersion }}</mat-panel-title>
              <mat-panel-description>{{version.compliancy}}</mat-panel-description>
              <mat-panel-description>{{ version.qualifiedDate }}</mat-panel-description>
              <a href="{{ version.resultsLink}}">Results link</a>

            </mat-expansion-panel-header>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>
